*{  
background: url("/static/img/go.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.go{
  display: flex;
  flex-direction: column;
}
.heading{
    text-align: center;
} 