<html>
<head>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div cla>
        <h1>Teaching, Learning & Resources (TLR)</h1>
        <form method="" >
            <label for ="SS">Student Strength including Doctoral Students(SS): 20 marks</label>
            <input type="number" name="SS" id="">
            <br>
            <label for ="FSR">Faculty-student ratio with emphasis on permanent faculty (FSR): 30marks</label>
            <input type="number" name="FSR" id="">
            <br>
            <label for ="FRU">Financial Resources and their Utilisation (FRU): 30 marks</label>
            <input type="number" name="FRU" id="">

        </form>
    </div>
</body>
</html>