<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Outreach and Inclusivity (OI)</h1>
        <form action="/PR" method="get" >
            <label for ="SS">Percentage of Students from other States/Countries (Region Diversity
                RD): 30 marks</label>
            <input type="number" name="SS" id="">
            <br>
            <label for ="FSR">Percentage of Women (Women Diversity WD): 30 marks</label>
            <input type="number" name="FSR" id="">
            <br>
            <label for ="SS">Economically and Socially Challenged Students (ESCS): 20 marks         </label>
            <input type="number" name="SS" id="">
            <br>
            <label for ="FRU">Facilities for Physically Challenged Students (PCS): 20 marks</label>
            <input type="number" name="FRU" id="">
            <input type="submit" value="PROCEED FOR PR">
        </form>
</body>
</html>