<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pr.css">
</head>
<body>
    <div class="pr">
        <div class="heading">
            <h1>Perception (PR) </h1>
        </div>
        <div class="prform">
            <form action="/result" method="post">
                <label for="PR">Peer Perception: Employers & Academic Peer (PR): 100 marks</label>
                <input type="number" name="PR" step="any" id="" value="0" min="0" max="100">
                <br>
                <input type="submit" value="GET YOUR SCORE">
            </form>
            
        </div>
        
    </div>
    
        
</body>
</html>