<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pr.css">
</head>
<body>
    <h1>Perception (PR) </h1>
        <form action="#" method="get">
            <label for="PR">Peer Perception: Employers & Academic Peer (PR): 100 marks</label>
            <input type="number" name="PR" id="">
            <br>
            <input type="submit" value="GET YOUR SCORE">
        </form>
</body>
</html>