<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/rp.css">
</head>

<body>
    <div class="rp">
        <div class="heading">
            <h1>Research and Professional Practice (RP)</h1>
        </div>
        <div class="rpform">
            <form action="/GO" method="post">
                <label for="PU">Combined metric for Publications (PU): 35 marks</label>
                <input type="number" name="PU" step="any" id="" value="0" min="0" max="35">
                <br>
                <label for="QP">Combined metric for Quality of Publications (QP): 40 marks</label>
                <input type="number" name="QP" step="any" id="" value="0" min="0" max="40">
                <br>
                <label for="IPR">IPR and Patents: Published and Granted (IPR): 15 marks</label>
                <input type="number" name="IPR" step="any" id="" value="0" min="0" max="15">
                <br>
                <label for="FPPP">Footprint of Projects and Professional Practice (FPPP): 10 marks <label>
                <input type="number" name="FPPP" step="any" id="" value="0" min="0" max="10">
                <br>
                <input type="submit" value="PROCEED TO GO">
            </form>
        </div>
    </div>

</body>

</html>